* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar article"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  text-align: center;
}

.container div {
  color: white;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  padding: 15px;
}

.header {
  align-items: center;
  background-color: #393f4d;
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(2, 1fr);
}

.logo {
  justify-self: start;
}

.menu {
  justify-self: end;
  margin-right: 100px;
}

.menu > ul {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.menu > ul > li {
  overflow: hidden;
  white-space: nowrap;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  align-items: center;
  background-color: #c50208;
  display: grid;
  grid-area: sidebar;
  grid-row-gap: 50px;
  grid-template-rows: repeat(4, 1fr);
  align-items: stretch;
}

.photo,
.side-content {
  display: grid;
  align-items: center;
  justify-items: center;
}

.sidebar .photo {
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 12px;
  font-weight: normal;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #c50208;
  grid-area: article;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: article;
}

.article p {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-size: 14px;
  font-weight: normal;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
